*{
    margin:40px;
    text-align: center;
    background-color:rgb(255, 236, 236);
}

.background{
    position: fixed;
    opacity: 25%;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}


.body{
    font-family:'Gill Sans';
    letter-spacing: 1px;
    font-size:24px;
}

.oxford{
    font-size: 30px;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.knoxville{
    font-size: 28px;
}





.title{
    font-family:'Gill Sans';
    letter-spacing: 1px;
    font-size:36px;
}

